body, html {
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    height: 8%;
    width: 100%;
}

#logo {
    height: 150px;
    margin-top: -35px;
    margin-left: 15px;
}

.main {
    text-align: center;
}

.button {
    border: 2px solid #D45E85;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    background-color: #D45E85;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

.spacer {
    margin: 70px;
}