body, html {
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    height: 8%;
    width: 100%;
}

.background-video {
    text-align: center;
    height: 100%;
}

#logo {
    height: 200px;
    position: relative;
    z-index: 1;
    margin-top: 300px;
}

#musicVid {
    width: 100%;
    right: 0;
    bottom: 0;
    background-attachment: fixed;
    z-index: -1;
    background-size: cover;
    filter:brightness(50%);
    position: absolute;
}

.about-section {
    height: 600px;
    text-align: center;
    margin-bottom: 50px;
    background: linear-gradient(90deg,#Ff97c1, #Ffd217);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.character {
    height: 350px;
    padding-top: 90px;
    padding-bottom: 30px;
}

#description {
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 60px;
}

.main {
    text-align: center;
}

.button {
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    background-color:#Ff97c1;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.button:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.actions {
    margin-bottom: 200px;
    margin-top: -100px;
}

#my_camera {
    align-items: center;
    margin: auto;
    border-radius: 15px;
    margin-top: 60px;
}

.spacer {
    margin: 0 60px 60px 0;
}

#picture-taken {
    padding: 30px;
    color: limegreen;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    display: none;
}

.spotify-player {
    height: 700px;
}

.footer-logo {
    height: 40px;
    margin-top: 30px;
}

.wave {
    text-align: center;
    height: 100px;
    background-color: black;
}

iframe {
    display: inline-block;
}