body, html {
    height: 100%;
    max-width: auto;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: black;
    color: white;
}

.header {
    height: 8%;
    width: 100%;
}

#logo {
    height: 150px;
    margin-top: -35px;
    margin-left: 15px;
}